## Print Statements

In [ ]:
print("Hello World!")

In [ ]:
print(Hello World!) # notice the error. Why?

In [ ]:
print("Hello World!")
print("Where does this line get printed?")

In [ ]:
print("Hello World!", end="***")
print("Where does this line get printed?") # Note - default value of end is newline "\n".

In [ ]:
print("Hello World!", end=" ")
print("Where does this line get printed?")

In [ ]:
# Concatenate strings inside print statement

print("Hello" + "World!")
print("Hello" , "World!")

### Exercise:
Display the following - "Python" comes from a 1970s comedy series

In [ ]:
# Display the following - "Python" comes from a 1970s comedy series -- use of escape character
# Type your soultion here

## Comments in Python

In [ ]:
# This is a single line comment

"""
This is 
a multi-line
comment!!!
"""

## Calculations in Python

In [ ]:
# Addition and subtraction
print(8 + 5)
print(13 - 3)

# Multiplication and division
print(5 * 4)
print(200 / 10)

print(7 // 3) # integer division

# Modulo and exponentiation
print(17 % 3)
print(12 ** 4)

In [ ]:
cost = 100
salesTax = 0.095
tax = cost * salesTax
discount = 0.20

print((cost + tax) * discount)
print(cost + tax * discount)

# notice the difference in the result based on position of paratheses

## Variables

In [ ]:
# variable assignment and printing

age = 10
name = "Sophie"
amount = 100.20
isItSunny = True

print(age)
print(name)
print(amount)
print(isItSunny)

In [ ]:
# calculations with variables

# area of cylinder

pi = 3.14
radius = 5
area = pi * (radius ** 2)

In [ ]:
# string concatenation

language = "Python"
message = "I love programming in" + language

print(message)

In [ ]:
# string methods

lastName = "Steinbeck"
print(lastName.upper())
print(lastName.lower())

### Exercise:
 Convert the value of fname to upper case and value of sname to lower case.
  Concatenate the converted names and print it.

In [ ]:
fname = "Karl"
sname = "John" 
# Type your soultion here (Output - KARL john)

### Exercise:
 Calculate the volume of a sphere with radius 4. Take pi = 3.14

In [ ]:
# Type your soultion here

## Variable Types and type conversion

In [ ]:
age = 10
name = "Sophie"
amount = 100.20
isItSunny = True

print(type(age))
print(type(name))
print(type(amount))
print(type(isItSunny))

In [ ]:
# operations with different variable types

num1 = 500
num2 = 2.0

result = num1 * num2 # what is the type of result?
# print(type(result))

In [ ]:
string1 = "hello"
string2 = string1 + string1
print(string2)

### Exercise:
 Type conversion

In [ ]:
# convert value into float.
value = 1200
# Type your soultion here

## Reading input

In [ ]:
name = input("Please enter your name ")
print("Hi", name)

### Exercise:
 Read 2 numbers from input. Store them in separate variables. Find the sum of the 2 variables

In [ ]:
# Type your soultion here

## Branching

### if-else statements

In [ ]:
password = input("Enter your password")

if password == "secret":
  print("Access granted")
else:
  print("Access denied")

### Exercise:
 Get the age of a person from input and display a message that states whether the person can vote or not.

In [ ]:
# Type your soultion here

### Blocks

### Exercise:
 Get the age of a person from input and display a message that states that the person can vote if they are over 18. If not display a message that states that the person can't vote if they are under 18. Also calculate and display the number of years remaining until they can vote in this case.

In [ ]:
# Type your soultion here

### if-elif statements

In [ ]:
midtermScore = int(input("Enter your midterm score"))

if midtermScore >= 90:
  grade = 'A'
elif midtermScore >= 80:
  grade = 'B'
elif midtermScore >= 70:
  grade = 'C'
elif midtermScore >= 60:
  grade = 'D'
else:
  grade = 'F'

print(grade)

### Conditions in if-else

In [ ]:
mystery = "chicken"

if mystery: # this works equivalent to the condition if mystery == True:
  print(mystery, "is True")

In [ ]:
mystery = 0

if mystery: # equivalent to if mystery == 1:
  print(mystery, "is True")
else:
  print(mystery, "is False")

In [ ]:
x = False

if x:
  print("x is True")
else:
  print("x is False")

y = "False"

if y:
  print("y is True")
else:
  print("y is False")

# Notice that the results are different in both the cases. Why?

### Compound conditions in if-else

### Exercise:
 Pick a number between 1 and 10 and display is number is even or odd. Also, display an error message if number is less than 1 or greater than 10

In [ ]:
# Type your soultion here

## Loops

### While loop

In [ ]:
numBottles = 99

while numBottles > 0:
  print(numBottles, "bottles of cold brew coffee on the wall")
  print("Take one down and pass it around")
  numBottles = numBottles - 1

print("Cold brew coffee is all gone")

# how many bottles left in the end?

In [ ]:
S = 0
areMore = True

print("Enter positive numbers or type -1 to exit")
while areMore:
  nextNum = int(input("Enter a number"))
  if nextNum < 0:
    areMore = False
  else:
    S = S + nextNum
print("The sum is", S)

### Exercise: 

Print i as long as i is less than 6.

In [ ]:
i = 1
# Type your soultion here

### Exercise: Write code to get the following output:

          Do you want cream (y/n)?: x
          Do you want cream (y/n)?: z
          Do you want cream (y/n)?: y
          Here's your coffee with cream
          Do you want cream (y/n)?: n
          Here's your coffee without cream

In [ ]:
# Type your soultion here

# how long does this program run?

### For loop and range function

In [ ]:
for num in range(3):
  print(num)
print("Done")

In [ ]:
for num in range(3):
  print(num + 2)
print("Done")

In [ ]:
msg = "learning"

for letter in msg:
  print(letter.upper(), end=" ")

In [ ]:
# Program to print even number using step size in range().

n = int(input("Enter the number "))  
for i in range(2,n,2):  
    print(i)

### Exercise: 

Use for loop to print table of 5.

In [ ]:
# Type your soultion here

## Functions

Method - a function which is part of a class. You access it with an instance or object of the class.

Function - standalone function. 

All methods are functions, but not all functions are methods.

In [ ]:
# Function creation/definition - User-defined functions

def plus(a,b):
  return a + b

In [ ]:
# method

class Summation(object):
  def sum(self, a, b):
    self.contents = a + b
    return self.contents 

# Here Summation is the class and sum is the method of the class

In [ ]:
# to use method sum, instantiate Summation and then use the method

sumInstance = Summation()
sumInstance.sum(1,2)

In [ ]:
# to call the plus() function

plus(1, 2)

### Return from function

In [ ]:
def hello():
  print("Hello World") 
  return 

# pass any parameters within paratheses()
# functions may have a return statement - if nothing passed - None is returned

# above function can be written as
def hello():
  print("Hello World")

In [ ]:
def anotherFunction():
  name = str(input("Enter your name: "))
  if name:
    print ("Hello " + str(name))
  else:
    print("Hello World") 
  return 
  
anotherFunction()

In [ ]:
def hello():
  print("Hello World") 
  return("hello")

def hello_noreturn():
  print("Hello World")

In [ ]:
# Multiply the output of 'hello()' with 2 
hello() * 2

In [ ]:
# (Try to) multiply the output of 'hello_noreturn()' with 2 --- error case
hello_noreturn() * 2

In [ ]:
def run():
  for x in range(10):
     if x == 2:
       return
  print("Run!") # this statement not executed. Why?
  
run()

In [ ]:
# Define 'plus()'
def plus(a,b):
  sum = a + b
  return (sum, a)

# Call 'plus()' and unpack variables 
sum, a = plus(3,4)

# Print 'sum()'
print(sum)

### Function Arguments

In [ ]:
# Define 'plus()' function
def plus(a,b = 2): # default argument for b
  return a + b
  
# Call 'plus()' with only 'a' parameter
plus(a=1)

# Call 'plus()' with 'a' and 'b' parameters
plus(a=1, b=3)

In [ ]:
# a and b are required arguments

def plus(a,b):
  return a + b

In [ ]:
# variable number of arguments

def plus(*args):
  return sum(args)

# Calculate the sum
plus(1,4,5)

### Exercise:
Create a function to check whether the given number is even or odd

In [ ]:
# Type your soultion here

### Exercise:
Create a function that returns the absolute value of the entered number.

In [ ]:
# Type your soultion here

## Lists

In [ ]:
# Examples

num = [1, 2]
print(num)

letter = ['a', 'b', 'c']
print(letter)

mix = [1, "a", 2, "b"]
print(mix)

mix1 = [[1, 2], ["a", "b", "c"]]
mix2 = [num, letter]
print(mix1)
print(mix2)

# type of list
print(type(num))
print(type(mix2))

### Exercise: 

print the sum of the given list.

In [ ]:
list = [10,30,23,43,65,12]  

# Type your soultion here

### Subsetting lists

In [ ]:
mylist = ["hi", 0.05, 4, "hello", 22, 10.78, "abc"]

print(mylist[1])

print(mylist[6]) # same as the next
print(mylist[-1])

print(mylist[-3])

### List Slicing

In [ ]:
mylist = ["hi", 0.05, 4, "hello", 22, 10.78, "abc"]

print(mylist[1:4])
print(mylist[3:5])

print(mylist[:4])
print(mylist[2:])

print(mylist[::-1])

[0.05, 4, 'hello']
['hello', 22]
['hi', 0.05, 4, 'hello']
[4, 'hello', 22, 10.78, 'abc']
['abc', 10.78, 22, 'hello', 4, 0.05, 'hi']

### Changing list elements

In [ ]:
mylist = ["hi", 0.05, 4, "hello", 22, 10.78, "abc"]

mylist[2] = 28
print(mylist)

mylist[1:3] = [0.08, 56]
print(mylist)

newlist = mylist + ['extra', 'elements']
print(newlist)

del newlist[7]
print(newlist)

['hi', 0.08, 56, 'hello', 22, 10.78, 'abc', 'elements']

### Built-in functions/methods for lists

In [ ]:
num = [1, 2]
print(num)

num.append(3)
print(num)

letter = ['a', 'b', 'c']
letter = letter + ['d'] # brute force
letter

num.extend(letter)
print(num)

num.insert(1, 'x')
print(num)

# what's the difference between append and extend?

In [ ]:
num.insert(2, 'x')
print(num)

num.remove('x')
print(num)

In [ ]:
num = [1, 2, 3]
letter = ["a", "b", "c"]

mix = num + letter

num.sort()
print(num)

letter.sort()
print(letter)

mix.sort() #error case
print(mix)

In [ ]:
x = [2, 40, 21, 5, 103]

print(len(x))
print(min(x))
print(max(x))
print(sum(x))

### Exercise:

Calculate and display the mean of the following list - [2, 40, 21, 5, 103]

In [ ]:
# # Type your soultion here

## Dictionaries

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

print(foodMenu.keys())
print(foodMenu.values())
print(foodMenu.items())

### Accessing elements of dictionary

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

print(foodMenu['Burger'])

# print(foodMenu[1]) #error case

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

for food in foodMenu.keys():
  print(food)

# for price in foodMenu.values():
#   print(price)

# for foodItem in foodMenu.items():
#   print(foodItem)

### Adding elements

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

foodMenu['Soup'] = 6
print(foodMenu)

foodMenu['Burger'] = 9
print(foodMenu)

In [ ]:
mylist1 = [8, 12]
mylist2 = [12, 8]

print(mylist1 == mylist2)

myDict1 = {'Pizza':12, 'Burger': 8}
myDict2 = {'Burger': 8, 'Pizza':12}

print(myDict1 == myDict2)

# Comment on the order of elements

### Exercise:

Print the length of the foodMenu Dictionary

Insert key,value (Brownie,14) pair into dictionary

Print the updated dictionary

Print the length of the updated foodMenu Dictionary

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}
# Type your Solution here:

## Modules

In [ ]:
# general format

# import moduleName
# moduleName.functionName -- to use the functions and methods of the module

In [ ]:
import random

number = random.randrange(6)
print(number)

number = random.randrange(6) + 1
print(number)